:root {
    --main-font: 1.6vh "Nunito", sans-serif;
    --secondary-font: 1.6vh "Inter", sans-serif;

    --main-font-color: #FFFFFFFF;
    --main-color1: #0F1011FF;
    --main-color2: #040308FF;
    --main-color3: #141617FF;
    --accent-color1: #00A8E8FF;
    --accent-color2: #0070BFFF;
    --accent-color3: #02365BFF;

    --filter-main-font-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7463%) hue-rotate(103deg) brightness(100%) contrast(106%);
    --filter-accent-color1: brightness(0) saturate(100%) invert(44%) sepia(35%) saturate(2273%) hue-rotate(164deg) brightness(103%) contrast(100%);

    --header-height: 8vh;
    --block-margin: 3vh;
}

body {
    margin: 0;
    font: var(--main-font);
    color: var(--main-font-color);

    background-color: var(--main-color1);
}

h1 {
    font-weight: 900;
    margin: 0;
}

h2 {
    font-weight: 600;
    margin: 0;
}

h3 {
    margin: 0;
}

.bold {
    font-weight: bold;
}

header {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: center;

    width: 100%;
    height: var(--header-height);

    background-color: var(--main-color2);

    z-index: 1;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1000px;

    padding: 0 20px 0 20px;

    a {
        color: var(--main-font-color);
        text-decoration: none;
        padding: 10px;
        transition:
            color 0.4s ease
        ;
    }

    a:hover {
        color: var(--accent-color1);
        transition:
            color 0.4s ease
        ;
    }

    img {
        height: 2vh;
    }
}

#theme-button {
    filter: var(--filter-main-font-color);
}

#theme-button:hover {
    filter: var(--filter-accent-color1);
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-width: 300px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    max-width: 900px;
    margin: var(--block-margin);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row {
    flex-direction: row;
    width: 98%;
}

.col {
    flex-direction: column;
}

.title {
    margin-top: calc(var(--header-height) * 1.2);
    margin-bottom: calc(var(--header-height) / 2);
}

.margin-left {
    margin-left: calc(max(8vw, 10px));
}

.item {
    width: unset;
}

.wrap {
    flex-wrap: wrap;
}

#first {
    height: calc(100vh - var(--header-height) - 2 * var(--block-margin));
}

#photo-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    width: 36vh;
    height: 42vh;
    min-width: 300px;

    background-image: radial-gradient(var(--accent-color2), var(--accent-color3));
    border-radius: 26px;
}

#photo-first-img {
    height: 90%;
}

.side-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 240px;
    height: 48px;
    padding: 2px;
    margin: 24px;

    border-radius: 8px;

    background: linear-gradient(60deg, var(--accent-color1), var(--accent-color2));
    box-shadow: 0 0 10px var(--accent-color1);
}

.side-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    font: var(--secondary-font);
    color: var(--main-font-color);
    text-align: center;
    text-decoration: none;

    backdrop-filter: blur(5px);

    border-radius: 6px;

    background: var(--main-color1);

    transition:
        color 0.4s ease,
        background 0.4s ease
    ;
}

.side-button:hover {
    color: var(--main-color1);
    background: #00000000;

    transition:
        color 0.4s ease,
        background 0.4s ease
    ;
}

#photo-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#photo-about-img {
    width: 24vh;
    min-width: 300px;
}

#about-text {
    flex: 1;
    min-width: 400px;
    max-width: calc(100% - 30vh);
    margin: 2vw;
}

.carousel-container {
    height: 600px;
    width: 100%;

    --mask-width: 10%;

    --mask-image-content: linear-gradient(
        to right,
        transparent,
        black var(--mask-width),
        black calc(100% - var(--mask-width)),
        transparent
    );

    mask-image: var(--mask-image-content);
    mask-size: var(--mask-size-content);

    mask-position: 0 0, 100% 0;

    mask-repeat: no-repeat, no-repeat;
}

.carousel {
    box-sizing: border-box
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;
    height: 500px;
    margin: 20px;
    box-sizing: border-box
}

.carousel-img {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.flickity-page-dots {
    bottom: 30px;
}

.flickity-page-dots .dot {
    box-shadow: 0 0 10px var(--accent-color1);
    opacity: 1;
    background: transparent;
    border: 2px solid var(--accent-color1);

    transition:
        background 0.4s ease,
        opacity 0.4s ease
    ;
}

.flickity-page-dots .dot:hover {
    background: var(--accent-color1);

    transition:
        background 0.4s ease,
        opacity 0.4s ease
    ;
}

.flickity-page-dots .dot.is-selected {
    background: var(--accent-color1);

    transition:
        background 0.4s ease,
        opacity 0.4s ease
    ;
}

footer {
    display: flex;
    justify-content: center;

    width: 100%;
    height: calc(var(--header-height) * 3);

    background-color: var(--main-color3);

    z-index: 1;
}

.footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1000px;

    padding: 0 20px 0 20px;
}
